<h1>Recipe matches for</h1>
<ul class="list-inline">
  <% @items.each do |item| %>
    <li><h2><%= Inventory.find(item).name.capitalize %></h2></li>
  <% end %>
</ul>
<hr/>

<table class="table table-striped">
  <tbody>
    <% @recipes.each do |recipe| %>
      <% if missing_ingredients(recipe, @items).length == 0 %>
        <tr>
          <td>
            <h3><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></h3>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<hr/>

<table class="table table-striped">
  <tbody>
    <% @recipes.each do |recipe| %>
      <% missing = missing_ingredients(recipe, @items)%>
      <% if missing.length == 1 %>
        <tr>
          <td>
            <a href="/recipes/<%= recipe.id %>"><h3>And you're some <%= missing.first %> away from <%= recipe.name %></h3>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<hr>
<h4><a href="/inventory">Oops I forgot some ingredients</a></h4>
