<h1>Recipe matches for</h1>
  <% @items.each do |item| %>
  <p><%= item %></p>
  <% end %>
<hr/>

<table class="table table-striped">
  <tbody>
    <% @recipes.each do |recipe| %>
    <% if missing_ingredients(recipe).length == 0 %>
      <tr>
        <a href="/recipe/<%= recipe.id %>"><%= recipe.name %></a>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% @recipes.each do |recipe| %>
  <% missing = missing_ingredients(recipe)%>
  <% if missing.length >= 1 %>
    <div class="recipe">
      <h1>
        <p>And you're some <%= missing[0] %> away from </p>
        <a href="/recipe/<%= recipe.id %>">
          <%= recipe.name %></a>
      </h1>
      <p>
        <a href="<%= recipe.link %>">How to</a>
      </p>
    </div>
  <% end %>
<% end %>
