<h1>Recipe matches for</h1>
<ul class="list-inline">
  <% @items.each do |item| %>
    <li><%= Inventory.find(item).name.capitalize %></li>
  <% end %>
</ul>
<hr/>

<table class="table table-striped">
  <tbody>
    <% @recipes.each do |recipe| %>
    <% if missing_ingredients(recipe, @items).length == 0 %>
      <tr>
        <td>
          <a href="/recipe/<%= recipe.id %>"><%= recipe.name %></a>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<table class="table table-striped">
  <tbody>
    <% @recipes.each do |recipe| %>
      <% missing = missing_ingredients(recipe, @items)%>
      <% if missing.length == 1 %>
        <tr>
          <td>
            <a href="/recipe/<%= recipe.id %>"><p>And you're some <%= missing[0] %> away from <%= recipe.name %></a>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
