<h1>Here's what you can make with:</h1>
<ul class="list-inline">
  <% @items.each do |item| %>
    <li><h2><%= Inventory.find(item).name.capitalize %></h2></li>
  <% end %>
</ul>
<hr/>

<table class="table table-striped">
  <tbody>
    <% count = 0 %>
    <% @recipes.each do |recipe| %>
      <% if missing_ingredients(recipe, @items).length == 0 %>
        <tr> <% count += 1%>
          <td>
            <h3><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></h3>
          </td>
        </tr>
      <% end %>
    <% end %>
    <% if count == 0 %>
      <h3><a href='http://ubereats.com/eats/toronto/'>Nothing.</a></h3>
    <% end %>
  </tbody>
</table>

<hr/>

<table class="table table-striped">
  <tbody>
    <% @recipes.each do |recipe| %>
      <% missing = missing_ingredients(recipe, @items)%>
      <% if missing.length == 1 %>
        <tr>
          <td>
            <h3>and if you got some <%= missing.first %>, you could make some <a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></h3>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<hr>
<h4><a href="/inventory">Oops I forgot some ingredients</a></h4>
